form.client-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2.2em;



}


input.form-control{

    height: 38px;
    font-size: 16px;
    border-bottom: 1.5px solid#f1b707 ;
    margin-bottom: 1em;
}

.form.client-info label{
    font-size: 22px;
}


.clientData_container h2{
    text-align: center;
    margin-top: 1.7em;
    margin-bottom: 0.5em;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    
}

.clientData_container div#botoes{
    display: flex;
    justify-content: space-between;
    width: 96vw;
    margin-top: -4em;
}

#botao-marcar{
    display: flex;
    margin-right: 1em;
}

#botao-voltar{
    display: flex;
    margin-left: 1em;
}

.clientData_container button.submit{
    background-color: transparent;
    border: none;
    
}

.clientData_container button.btn{
    background-color: white;
    color:  #f1b707;
    border-radius: 15px;
    padding: 0.5em 2.5em;
    width: 200px;
}

.clientData_container button.btn:hover{
    background-color:  #f1b707;
}

.clientData_container a {
   color: #f1b707;
}

.clientData_container a:focus, a:hover{
    color: rgba(176, 175, 175, 0.73) ;
}

#menu-hamburguer{
    display: none;
}

div.form-div {
    width: 60vw;
    max-width: 550px;
}

form.main{
    width: 80vw;

}





@media (min-height: 850px ) {

    .clientData_container h2{
        text-align: center;
        margin-top: 2.6em;
        margin-bottom: 1.8em;
        font-size: 30px;
        
    }

    section#servicos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 4em;
        
    }
    
}

@media (max-width: 545px){

    section#image{
        height: 40vh;
    }

    
    .clientData_container nav{
        padding: 0.75em;
      
    }
    .clientData_container li{
        font-size: 1.5em;
        padding: 0.18em;
    }

     .clientData_container li:hover{
       
        border-radius: 10px;
        transition: 870ms;
    }


 


}