section#horario-box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section#horario{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 3.5em;
    border: 3px double #f1b607be;
    border-radius: 20px;
    height: 240px;
    width: 300px;
    padding: 0.5em;
}

h1#dayValue{
    margin-top: 15px;
    margin-bottom: 5px;
}

#horario input{

    font-size: 2.38em;
    background-color: white;
    border: 2px solid #f1b607ed;
    border-radius: 10px;
    padding: 2px 7px;
}

#horario div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    
}

#input-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 110px;
    overflow-y: auto;

}

#input-time::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
    
}


#input-time label{
    font-size: 16px;
    margin-bottom: 12px;
}

.selected{
    background-color: #f1b707;
}

.none{
    display: none;
}

#horario button{
   
    border: none;
    border-radius: 15px;
    font-size: 2em;
    display: flex;
    margin-right: 5px;
    color: #f1b707;
    background-color: transparent;
    
}

#horario button:hover{
    color: black;
}

.available-hour{
    font-size: 1.5em;
    cursor: pointer;
}

div#botoes{
    display: flex;
    justify-content: space-between;
    width: 96vw;
    margin: -2em auto 0 auto;
    
}

#botoes button{
    background-color: transparent;
    border: none;
    color:  #f1b707;
}

.dataContainer{
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: center !important; 
    gap: 20px;
    
}

.dataContainer svg{
    font-size: 1.7em;
    margin-top: 10px;
    color: #f1b707;
    cursor: pointer;
}

.dataContainer svg:hover{
   background-color: rgba(238, 238, 238, 0.842);
   border-radius: 4px;
}